# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
clinic-backend/venv/
clinic-backend/env/
.env
.venv

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Angular
clinic-frontend/dist/
clinic-frontend/tmp/
clinic-frontend/out-tsc/
clinic-frontend/bazel-out
clinic-frontend/node_modules/
clinic-frontend/.angular/cache/

# Node
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
